html, body {
    height: 100%;
}

/* 모바일 모드 표시전용 */
@media screen and (min-width:990px) {
    .mobile {
        display: none;
    }

}

/* PC 모드 표시전용 */
@media screen and (max-width:989px) {
    .desktop {
        display: none;
    }
}