{{>layout/header}}

<div class="row mx-0 h-100">
    <!-- menu -->
    <div class="desktop bg-primary" style="width: 260px;">
        <h1>SideMenu</h1>
    </div>
    <!-- content -->
    <div class="col bg-secondary">
        <h1>Content</h1>
    </div>
</div>

{{>layout/footer}}