{{>layout/header}}
<div class="col-sm-12 h-100">
    <!-- top -->
    <div class="row mx-0 bg-dark" style="height: 40px;">
        <div class="col d-flex align-self-center" style="height: 20px;">
            <p class="fw-bold text-light">AuthorizationServer</p>
        </div>
        <div class="col d-flex justify-content-end">
            <!-- 데스크톱 모드 표시-->
            <div class="d-flex align-self-center" style="height: 20px;">
                <p class="desktop fw-bold text-light">로그인</p>
            </div>
            <!-- 모바일웹 모드 표시-->
            <div class="d-flex align-self-center" style="height: 30px;">
                <img class="mobile" src="images/app/menu_FILL0_wght400_GRAD0_opsz40.svg" height="30px" width="30px">
            </div>
        </div>
    </div>
    <div class="row mx-0 h-100">
        <!-- menu -->
        <div class="col bg-primary">
            <h1>SideMenu</h1>
        </div>
        <!-- content -->
        <div class="col bg-secondary">
            <h1>Content</h1>
        </div>
    </div>
</div>
{{>layout/footer}}