{{>layout/header}}
<div class="col-sm-12 h-100">
    <div class="row bg-danger">
        <!-- top -->
        <h1>Index페이지</h1>
    </div>
    <div class="row bg-success">
        <!-- top -->
        <h1>TopMenu</h1>
    </div>
    <div class="row h-100">
        <!-- menu -->
        <div class="col bg-primary">
            <h1>SideMenu</h1>
        </div>
        <!-- content -->
        <div class="col bg-secondary">
            <h1>Content</h1>
        </div>
    </div>
</div>
{{>layout/footer}}