{{>layout/header}}
<div class="d-flex justify-content-center mt-2">
    <div class="row mx-0" style="width: 400px;">
        <div>
            <h1>유저등록완료</h1>
        </div>

        <div>
            <strong class="text-primary mt-3">{{id}}</strong><span>의 유저등록이 완료되었습니다.</span>
        </div>

        <div class="d-flex align-items-end flex-column mt-3">
            <a href="/member/login" role="button" class="btn btn-primary">로그인</a>
        </div>
    </div>
</div>
<script src="/js/app/member-signin.js"></script>
{{>layout/footer}}